In [ ]:
!pip install mysql-connector-python
!pip install --upgrade selenium
!pip install reportlab
!pip install fpdf
!pip install pymongo

## Code for Web Scraping

In [ ]:
import time
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import mysql.connector

connection = mysql.connector.connect(
    host="CSSQL",
    user="mm_team03_02",
    password="mm_team03_02Pass-",
    database="mm_team03_02"
)


cursor = connection.cursor()

website = 'https://www.investing.com/equities/costco-whsl-corp-new-historical-data'

path = '/Users/lakshitgupta/Downloads/chromedriver-mac-x64/chromedriver'

chrome_options = Options()
chrome_options.add_argument('--headless')  
service = Service(path)

driver = webdriver.Chrome(service=service, options=chrome_options)
driver.get(website)


table = driver.find_element(By.CLASS_NAME, "freeze-column-w-1.w-full.overflow-x-auto.text-xs.leading-4")


body = table.find_element(By.TAG_NAME, "tbody")
rows = body.find_elements(By.TAG_NAME, "tr")

delete_query = "TRUNCATE TABLE CostcoHistoricalData"
cursor.execute(delete_query)
connection.commit()


for row in rows:

    cells = row.find_elements(By.TAG_NAME, "td")
    

    dateVal = cells[0].find_element(By.TAG_NAME, "time").get_attribute("datetime").strip()
    date = dateVal.split('/')[2] + '-' + dateVal.split('/')[0] + '-' + dateVal.split('/')[1]
    price = cells[1].text.strip()
    open_price = cells[2].text.strip()
    high_price = cells[3].text.strip()
    low_price = cells[4].text.strip()
    volume = cells[5].text.strip()
    per_change = cells[6].text.strip()
    

    insert_query = """
    INSERT INTO CostcoHistoricalData (Date, Price, Open, High, Low, Volume, PerChange)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    

    cursor.execute(insert_query, (date, price, open_price, high_price, low_price, volume, per_change))
    print(date,' ', price,' ', open_price,' ', high_price,' ', low_price,' ', volume,' ', per_change);
    

    connection.commit()


driver.quit()


cursor.close()
connection.close()
print('Data Scraped Successfully!!')

## Transferring Some data from MySQL to RDS

In [ ]:
import mysql.connector

local_mysql_connection = mysql.connector.connect(
    host="CSSQL",
    user="mm_team03_02",
    password="mm_team03_02Pass-",
    database="mm_team03_02"
)

rds_mysql_connection = mysql.connector.connect(
    host="mmteam0302.c980u2qks34p.us-east-1.rds.amazonaws.com",
    user="admin",
    password="mm_team03_02Pass-",
    database="mm_team03_02"
)


local_mysql_cursor = local_mysql_connection.cursor()
rds_mysql_cursor = rds_mysql_connection.cursor()

tables_to_copy = ['Category', 'Suppliers','CreditPoint','CostcoHistoricalData']


for table_name in tables_to_copy:
    try:
        rds_mysql_cursor.execute(f"DROP TABLE IF EXISTS {table_name}")
        local_mysql_cursor.execute(f"SHOW CREATE TABLE {table_name}")
        create_table_query = local_mysql_cursor.fetchone()[1]
        rds_mysql_cursor.execute(create_table_query)
        
        local_mysql_cursor.execute(f"SELECT * FROM {table_name}")
        rows = local_mysql_cursor.fetchall()
        for row in rows:
            insert_query = f"INSERT INTO {table_name} VALUES ({', '.join(['%s'] * len(row))})"
            rds_mysql_cursor.execute(insert_query, row)
    except mysql.connector.Error as err:
        print(f"An error occurred while copying table {table_name}: {err}")

rds_mysql_connection.commit()


local_mysql_cursor.close()
rds_mysql_cursor.close()
local_mysql_connection.close()
rds_mysql_connection.close()
print("Code ran successfully!!")

## Transferring Some data from MySQL to MongoDB

In [ ]:
import mysql.connector
from pymongo import MongoClient
from decimal import Decimal
from datetime import datetime as dt
import datetime

mysql_user = 'mm_team03_02'
mysql_password = 'mm_team03_02Pass-'
mysql_host = 'CSSQL'
mysql_database = 'mm_team03_02'

mongo_uri = 'mongodb+srv://mm_team03_02:mm_team03_02Pass-@atlascluster.h475k3h.mongodb.net/'
mongo_database = 'mm_team03_02'

mysql_connection = mysql.connector.connect(
    user=mysql_user,
    password=mysql_password,
    host=mysql_host,
    database=mysql_database
)


mongo_client = MongoClient(mongo_uri)
mongo_db = mongo_client[mongo_database]


def convert_date(date):
    return datetime(date.year, date.month, date.day)
def convert_date_to_datetime(date):
    if isinstance(date, datetime.date):
        return datetime.datetime(date.year, date.month, date.day)
    return date
def convert_decimal_to_float(value):
    if isinstance(value, Decimal):
        return float(value)
    return value
def handle_decimal(value):
    if isinstance(value, Decimal):
        return float(value)  
    return value




def transfer_data(table_name):
    mysql_cursor = mysql_connection.cursor()
    mongo_collection = mongo_db[table_name]


    if table_name in mongo_db.list_collection_names():
        mongo_db.drop_collection(table_name)


    mysql_cursor.execute(f"SELECT * FROM {table_name}")
    records = mysql_cursor.fetchall()


    records = [[convert_date_to_datetime(field) if isinstance(field, datetime.date) else field for field in record] for record in records]


    for record in records:
        record_dict = {key: handle_decimal(value) for key, value in zip(mysql_cursor.column_names, record)}
        mongo_collection.insert_one(record_dict)

    print(f"Data from {table_name} transferred successfully to MongoDB.")

tables_to_transfer = ['Category', 'Suppliers','CreditPoint','CostcoHistoricalData'] 
for table_name in tables_to_transfer:
    transfer_data(table_name)

mysql_connection.close()
mongo_client.close()